<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <% if (users.length > 0) { %>
            <div class="users-container">
                <% for (let user of users) { %>
                    <p> <%= user.name %> </p>
                    <p> <%= user.lastname %> </p>
                    <p> <%= user.age %> </p>
                <% } %>
            </div>
            <button><a href="/">Add Another User</a></button>
        <% } else { %>
            <h1>No Users found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>